body {
   font-family: "source-han-sans-japanese", "source-han-sans-simplified-c", sans-serif;
 }

::selection {
  background: #bafea9;
  color: #242424;
}

.head-menu {
  position: fixed;
  height: 50px;
  width: 100vw;
  background-color: yellowgreen;
  z-index: 10;
  top: 0;
  color: white;
}

.head-menu .wrapper {
  margin: 6px 25px 0;
  display: flex;
}

.head-menu .right {
  margin-left: auto;
}

.head-menu h1 {
  float: left;
  font-size: 1.5em;
}

.head-menu .menu-btn {
  display: none;
  margin-left: 10px;
}

.burger {
  position: absolute;
  z-index: 200;
  right: 10px;
  top: 19px;
  cursor: pointer;
  transform: rotateY(0);
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}

.burger__patty {
  z-index: 2000;
  width: 24px;
  height: 2px;
  margin: 0 0 4px 0;
  background: white;
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}

.burger__patty:last-child {
  margin-bottom: 0;
}

.burger--close {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.burger--close .burger__patty:nth-child(1) {
  transform: rotate(45deg) translate(4px, 4px);
}

.burger--close .burger__patty:nth-child(2) {
  opacity: 0;
}

.burger--close .burger__patty:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -4px);
}

.head-menu .night-btn {
  display: inline-block;
}

.head-menu .night-btn img {
  height: 25px;
  margin: 7px 10px 0 0;
}

.side-menu {
  position: fixed;
  height: 100vh;
  width: 230px;
  background-color: #eee;
  z-index: 9;
  padding-bottom: 40px;
}

.side-menu .menu-main {
  overflow: auto;
  height: 100%;
}

.side-menu .wrapper {
  margin: 60px 25px 10px;
  position: relative;
}

.side-menu .menu-links {
  position: absolute;
  padding: 10px 10px 0 0;
  bottom: 5px;
  width: 100%;
  right: 0;
  margin: 0 auto;
  left: 0;
  /* border-top: 1px solid #585858; */
  display: flex;
  flex-direction: row-reverse;
  overflow: hidden;
  z-index: 99;
}

.menu-links img {
  width: 25px;
  height: 25px;
  margin-left: 10px;
  transition-duration: .3s;
}

.menu-links img:hover {
  opacity: .8;
}

.menu-links p {
  font-size: .8rem;
  color: #343a3d;
  margin: 5px 15px;
  position: absolute;
  left: 5px;
}

.hidden-text {
  transform: translateY(50px);
}

.side-menu ul {
  list-style: none;
  padding: 0;
}

.side-menu .chapter-item {
  margin-top: 10px;
}

.side-menu .chapter-item > a {
  color: black;
  font-size: 1em;
  text-decoration: underline;
}

.side-menu .class-item > a {
  color: black;
  font-size: 1em;
  text-decoration: none;
}

.side-menu .lecture-item {
  font-size: 0.7em;
  text-decoration: none;
  padding-left: 10px;
  position: relative;
}

.side-menu .lecture-item::before {
  content: ' ';
  position: absolute;
  background-color: #37AF4B;
  height: 2px;
  width: 2px;
  left: 0px;
  top: 7px;
  border-radius: 50%;
}

.side-menu .lecture-item a {
  color: #37AF4B;
}

.content {
  padding-left: 260px;
  padding-top: 50px;
}

.fold:hover h2::before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  left: -35px;
  top: 10px;
  border-top: 5px solid transparent;
  border-left: 10px solid gray;
  border-bottom: 5px solid transparent;
}

.fold {
  position: relative;
}

.more {
  display: inline;
  background-color: #aaa;
  border-radius: 5px;
  padding: 3px 8px;
  color: white;
}

a.anchor {
  display: block;
  position: relative;
  top: -100px;
  visibility: hidden;
}

.side-menu .lecture-item .scroll-selected {
  font-weight: bolder;
  color: #1d9200;
  text-decoration: underline;
  transition-duration: .3s;
}

.side-menu .lecture-item .scroll-selected::before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  left: -8px;
  top: 5px;
  border-top: 3px solid transparent;
  border-left: 6px solid gray;
  border-bottom: 3px solid transparent;
}

.content {
  margin-bottom: 25px;
}

.content p {
  position: relative;
}

.content h1 {
  margin-top: 80px;
}

.content .container div:first-of-type h1 {
  margin-top: 20px;
}

.content h2 {
  margin-top: 50px;
  color: #1e4e79;
  font-weight: bolder;
  border-bottom: none;
}

.content h3 {
  color: #1e4e79;
  font-size: 1.3em;
}

.search {
  z-index: 10;
  cursor: pointer;
  position: fixed;
  right: 50px;
  bottom: 50px;
  background-color: rgba(0, 198, 195, 0.24);
  border-radius: 100%;
  padding: 10px;
}

.search img {
  width: 25px;
  opacity: .7;
}

.search-result {
  position: fixed;
  width: 1000px;
  height: 800px;
  bottom: 60px;
  right: 30px;
}

iframe {
  width: 100%;
  height: 100%;
}

@media (max-width: 850px) {
  .menu-on {
    transform: translateX(0px);
    transition-duration: 0.5s;
  }

  .menu-off {
    transform: translateX(100vw);
    transition-duration: 0.5s;
  }

  .head-menu .wrapper {
    margin-left: 15px;
  }

  .head-menu .menu-btn {
    display: inline-block;
  }

  .side-menu {
    width: 100vw;
    transition: 1s;
  }

  .content {
    padding-left: 0;
  }

  .content h1 {
    font-size: 1.3em;
  }

  .content h2 {
    font-size: 1.24rem;
  }

  .content p {
    font-size: .9rem;
  }

  .content table {
    font-size: .9rem;
  }

  .content table td {
    padding: 6px 9px;
  }

  .important::before {
    width: 15px;
    height: 15px;
    left: -15px;
    top: 3px;
  }

  .example::before {
    width: 8px;
    height: 8px;
    left: -10px;
    top: 6px;
  }

  .side-menu .chapter-item > a {
    font-size: 1.2em;
    text-decoration: underline;
  }

  .side-menu .class-item > a {
    font-size: 1.2em;
    text-decoration: none;
  }

  .side-menu .lecture-item {
    font-size: 1em;
    text-decoration: none;
  }

  .side-menu .lecture-item::before {
    height: 4px;
    width: 4px;
    left: 0;
    top: 10px;
  }

}